.nova{
  text-align: center;
  color: skyblue;
}

.box{
  background-color: #181818;
}

.download_game{
  color:orange;
  border-right:1px solid #262626;
  width: 187px;
  text-align: center;
  padding-top: 29px;
  height: 100vh;
}

.introduceimg{
  text-align: center;
}

.notice_board{
  color: white;
}

.board_line{
  border-bottom: 1px solid white;
}
.notice_board1{
  float: left;
}
.notice_board2{
float: left;
}
.notice_board3{
float: left;
}
.notice_board4{
float: left;
}
.notice_board5{
float: left;
}
.notice_board6{
float: left;
}
.notice_board7{
    float: left;
}

.WidgetMoreLink{
  float: right;
  margin-right: 30px;
}

.mainbackground{
  background-color: #111111;
}

.top_ul ul{
  list-style:none;
  padding:0;
  border-bottom:solid #dfc55b 3px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 8px;
}

.top_ul li{
  display:inline;
  margin-right:60px;
  color: #dfc55b;
}

.bottom_ul ul{
  list-style:none;
  padding:0;
  text-align: center;
  margin-top: 0;
}
.bottom_ul li{
  display:inline;
  margin-right:20px;
  color: #dfc55b;
  font-size: 12px;
  border-right: 1px #dfc55b solid;
  margin: 0;
  padding-right: 10px;
}

.asdf{
  color: white;
  font-size: 12px;
  float: left;
}

.fff{
  float: right;
  margin: 0;
  color: dimgray;
  font-size: 12px;
}

.bottom_ul{
  border-top:solid #dfc55b 1px;
  border-bottom:solid #dfc55b 1px;
}

body{
  margin-left: 20%;
  margin-right: 20%;
  background-image:url(novahomeback.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

h1,h2{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 50px;
}

table{
  border-spacing: 1px;
  border-collapse: separate;
  table-layout: fixed;
}
td{
  max-width: 150px;
  height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

td:nth-child(2){
  width: 110px;
  text-align: right;
  padding-right: 8px;
}


#grid1{
  display: grid;
  grid-template-columns: 200px 1fr;
}

#grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
