.nova{
  text-align: center;
  background-image:url(novahomeback.jpg);
}

.box{
  background-color: #615c5ce6;
}

body{
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
}

h1,h2{
  margin-top: 0;
  margin-bottom: 0;
}

ul{
  list-style:none;
  padding:0;
  border-bottom:solid #ecb823 3px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8px;
}

li{
  display:inline;
  margin-right:150px;
  color: #ecb823;
}
